{% extends 'backend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
shopcitymall
{% endblock %}

{% block content %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
        
            <!-- Form controls -->
            <div class="col-md-12">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Newsletter /</span> List Of All Subscribers</h4>
                    <!-- Bootstrap Dark Table -->
                    <div class="card">
                      
                        <div class="table-responsive text-nowrap">
                            
                            
                            {% if newsletter %}
                                {% for l in newsletter %}
                                <ul>
                                    <li>
                                        {{ l.email}}
                                    </li>
                                </ul>
                                {% endfor %}
                            {% endif %}
                        
                        </div>
                    </div>
                    <!--/ Bootstrap Dark Table -->
                    
                  </div> 
                </div>
              </div>
            </div>
            </div>
            <!-- / Content -->

  {% endblock %}
