{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
shopcitymall
{% endblock %}

{% block content %}
	{% load crispy_forms_tags %}
    <main id="main" data-aos="fade-in">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
          <div class="container">
            <h2>Password Reset</h2>
            <p>This is a platform that helps all Students an Sellers.This enables All student within Malete to Place Order on both goods,accessories and place Orders on various types of Foods.</p>
          </div>
        </div><!-- End Breadcrumbs -->

		<div id="best-deal" >
			<div class="container pt-5">
					<h2 class=" font-weight-bold">Reset Password</h2>
					<hr>
					<p>Forgotten your password? Enter your email address below, we'll email instructions for setting a new one.</p>
					<form method="POST" style="padding-bottom: 25px;" class="col-md-6 col-sm-12">
						{% csrf_token %}
						{{ password_reset_form|crispy }}
						<div style="padding-top: 20px;">
							<button class="btn btn-primary" type="submit" >Send email</button>
						</div>
					</form>	
					
			</div>
		</div>
    </main><!-- End #main -->


{% endblock%}