{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{% url 'index' %}" class="app-brand-link">
        <img src="{% static 'frontend/assets/img/shopcityfav.png' %}" data-retina="true" alt="" width="40" height="40" style="border-radius: 30px;" >&nbsp; &nbsp;</a>
        <h1 class="logo me-auto"><a href="{% url 'index' %}" ><img src="{% static 'frontend/assets/img/logo.png' %} " style="width: 130px !important;"></a></h1>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a href="{% url 'backend:dashboard' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Pages</span>
      </li>
      
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-chat"></i>
          <div data-i18n="Contact">Services</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bx-tshirt"></i>
              <div data-i18n="Misc">Fashion</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="{% url 'backend:add_blog' %}" class="menu-link">
                  <div data-i18n="Error">Upload</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'backend:list_all_blog' %}" class="menu-link">
                  <div data-i18n="Error">View</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bx-tshirt"></i>
              <div data-i18n="Misc">Pastries</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="{% url 'backend:add_blog' %}" class="menu-link">
                  <div data-i18n="Error">Upload</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'backend:list_all_blog' %}" class="menu-link">
                  <div data-i18n="Error">View</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bx-mug-saucer"></i>
              <div data-i18n="Misc">Restaurants</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="{% url 'backend:add_blog' %}" class="menu-link">
                  <div data-i18n="Error">Upload</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'backend:list_all_blog' %}" class="menu-link">
                  <div data-i18n="Error">View</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bx-tshirt"></i>
              <div data-i18n="Misc">Gadgets</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="{% url 'backend:add_blog' %}" class="menu-link">
                  <div data-i18n="Error">Upload</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'backend:list_all_blog' %}" class="menu-link">
                  <div data-i18n="Error">View</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bx-tshirt"></i>
              <div data-i18n="Misc">Hostels</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="{% url 'backend:add_blog' %}" class="menu-link">
                  <div data-i18n="Error">Upload</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'backend:list_all_blog' %}" class="menu-link">
                  <div data-i18n="Error">View</div>
                </a>
              </li>
            </ul>
          </li>
          
        </ul>
      </li>

     
      <!-- Components -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Account Settings</span></li>
      <!-- Cards -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-dock-top"></i>
          <div data-i18n="Account Settings">Account Settings</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{% url 'users:user_profile' %}" class="menu-link">
              <div data-i18n="Account"user_profile>User Profile</div>
            </a>
          </li>
          <!-- <li class="menu-item">
            <a href="#" class="menu-link">
              <div data-i18n="Notifications">Notifications</div>
            </a>
          </li> -->
          <li class="menu-item">
            <a href="{% url 'users:edit_profile' %}" class="menu-link">
              <div data-i18n="Edit Account">Edit Account</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'backend:password_reset_request' %}" class="menu-link" target="_blank">
              <div data-i18n="Basic">Password Reset</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'backend:change_password' %}" class="menu-link" target="_blank">
              <div data-i18n="Basic">Change Password</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-wallet-alt"></i>
          <div data-i18n="Authentications">Wallets</div>
        </a>
        <ul class="menu-sub">
          
        </ul>
      </li>

      <!-- Forms & Tables -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Comments</span></li>
      <!-- Forms -->
      
      
      <!-- Tables -->
      <li class="menu-item">
        <a href="#" class="menu-link">
          <i class="menu-icon tf-icons bx bx-chat"></i>
          <div data-i18n="Comments">Comments</div>
        </a>
      </li>
      <!-- Misc -->
    </ul>
</aside>

<!-- Layout container -->
<div class="layout-page">
  <!-- Navbar -->

  <nav
    class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
    id="layout-navbar"
  >
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
        <i class="bx bx-menu bx-sm"></i>
      </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    

      <ul class="navbar-nav flex-row align-items-center ms-auto">
        <!-- Place this tag where you want the button to render. -->
        <li class="nav-item lh-1 me-3">
          <a
            class="github-button"
            href="#"
            data-icon="octicon-star"
            data-size="large"
            data-show-count="true"
            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
            >{{user.user_name }}</a
          >
        </li>

        <!-- User -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
              <i class="fa fa-profile"></i>
              <img class="img-profile rounded-circle" src="{{ user.image_url}}">
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="#">
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar avatar-online">
                      <img class="img-profile rounded-circle" src="{{ user.image_url}}">
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <span class="fw-semibold d-block">{{user.user_name }}</span>
                    <small class="text-muted">User</small>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'users:user_profile' %}">
                <i class="bx bx-user me-2"></i>
                <span class="align-middle">My Profile</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'backend:change_password' %}">
                <i class="bx bx-cog me-2"></i>
                <span class="align-middle">Password Settings</span>
              </a>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'backend:logout_view' %}" id="warning">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Log Out</span>
              </a>
            </li>
          </ul>
        </li>
        <!--/ User -->
      </ul>
    </div>
  </nav>