{% extends 'backend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Ayo Blog
{% endblock %}

{% block content %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Blogs /</span> View Post</h4>


                <!-- Form controls -->
                <div class="col-md-12">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="row p-1" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique;">     
                        {% if pst %}
                            {% for v in pst %}    
                                <div class="row align-items-center">
                                    <div class="col-12 align-items-center">
                                      <div class="card-body" id="both-scrollbars-example">
                                        <img src="{{ v.img_url }}" alt="scrollbar-image" >
                                      </div>
                                    </div>
                                    <div class="col-12 align-items-center">
                                        <h2><strong>{{ v.blog_title }}</strong></h2>
                                    </div>
                                    <div class="col-md-6 col-sm-12 align-items-center">
                                        <p>{{ v.blog_description }}</p>
                                    </div>
                                    
                                </div>
                                <button type="submit" class=" btn btn-primary me-2 fa fa-fw fa-eye col-md-2 col-sm-5"><a href="{% url 'backend:dashboard'%}" style="color:#fff;">Back</a></button>
                            {% endfor%}
                        {% endif %}                      
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <!-- / Content -->

  {% endblock %}