{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
    shopcitymall.com.ng
{% endblock%}

{% block content %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        <p>We're proud to offer vendors the best possible experience on our website. With a wide range of products and services, an easy-to-use interface, advanced security features, and excellent customer support, we're the number one choice for vendors. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'frontend/assets/img/shopcity.png' %}" class="img-fluid" alt="" style="width: 450px; height:412px;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>ShopCityMall.</h3><br>
            <p class="fst-italic">
             
              We're proud to offer vendors the best possible experience on our website. With a wide range of products and services, an easy-to-use interface, advanced security features, and excellent customer support, we're the number one choice for vendors. Come and join us today!
              

            </p><br>
            <ul>
              <li><i class="bi bi-check-circle"></i> Easy-to-use interface.</li>               
              <li><i class="bi bi-check-circle"></i> Advanced security features.</li>               
              <li><i class="bi bi-check-circle"></i> Excellent customer support.</li>               
              <li><i class="bi bi-check-circle"></i> On time Delivery.</li>               
              <li><i class="bi bi-check-circle"></i> 100% Accuracy.</li>
              <li><i class="bi bi-check-circle"></i> Friendly communication.</li>
            </ul>
            <p>
              Wide range of products and services.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-2 content">
            <h3>Our Mission</h3><br>
            <p class="fst-italic">
              Here at ShopCityMall, we're passionate about helping our customers succeed. We believe in creating an shop-city-mall platform that makes it easy to run your business
              .We believe in providing excellent customer support, so you can always get the help you need.And we believe in creating a community of like-minded individuals
              who can learn and grow together. That's why we're the best choice for anyone looking to take their business to the next level!   
               
            </p><br>
            <h4>
              Why choose us?
            </h4>
            <ul>
              <li><i class="bi bi-check-circle"></i> Because we're passionate about providing the best services for our customers.</li>               
              <li><i class="bi bi-check-circle"></i> Because we're dedicated to innovation and always striving to be better.</li>               
              <li><i class="bi bi-check-circle"></i> Because we believe in putting the customer first.</li>               
              <li><i class="bi bi-check-circle"></i> Because we're committed to making a positive impact in Malete.</li>               
              <li><i class="bi bi-check-circle"></i> Because we're excited about the future and what it holds.</li>
              <li><i class="bi bi-check-circle"></i> Because we're always looking for new and better ways to make things easier for students.</li>
            </ul>
            

          </div>
          <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'frontend/assets/img/buy.png' %}" class="img-fluid pt-5" alt="" >
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Restaurants</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Fashion</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Gadgets</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Users</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    
    <!-- <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'frontend/assets/img/lek1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Joseph Oluwagbemileke</h3>
                  <h4>Ceo of D&G Wear's &amp; Programmer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'frontend/assets/img/lek2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Olamide Joseph </h3>
                  <h4>Web Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'frontend/assets/img/lek7.jpg' %}" class="testimonial-img" alt="">
                  <h3>Oladipupo</h3>
                  <h4>Ceo Of Food House</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'frontend/assets/img/lek8.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'frontend/assets/img/lek3.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> -->
    <!-- End Testimonials Section -->

  </main><!-- End #main -->

  {% endblock%}