{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
    AllInOne.com
{% endblock%}

{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Blogs</h2>
      <p>We're proud to offer vendors the best possible experience on our website. With a wide range of products and services, an easy-to-use interface, advanced security features, and excellent customer support, we're the number one choice for vendors. </p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">
        <div class="row">
            {% if blog %}
                {% for b in blog %}
                <div class="col-md-4 col-lg-4 d-flex align-items-stretch">
                  
                      <div class="card">
                        <div class="card-img">
                          <img src="{{ b.blog_img.url }}" alt="...">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"><a href="{% url 'frontend:blog_details' b.id %}">{{ b.blog_title }}</a></h5>
                          <!-- <p class="fst-italic text-center">saturday, february 26th at 7:00 pm</p> -->
                          <p class="fst-italic text-center">{{ b.blog_date }}</p>
                          <p class="card-text">{{ b.blog_description|truncatewords:20 }}...</p>
                        </div>
                      </div>
                      
                </div>
                {% endfor %}
            {% endif %}
        </div>
        

    </div>
  </section><!-- End Events Section -->

</main><!-- End #main -->

  <!-- ======= Footer ======= -->
 {% endblock %} 